.mainCont {
    width: 75vw;
    margin: 2vh auto;
}
.movieListCont {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    gap: 2vw 5vw;
    justify-content: center;
}
@media screen and (max-width: 1200px) {
    .mainCont {
        width: 95vw;
    }
    .movieListCont {
       gap: 2vw 2vw;
    }
}
@media screen and (max-width: 992px) {
    .mainCont {
        width: 90vw;
    }

    .movieListCont {
        grid-template-columns: auto auto auto;
    }
}
@media screen and (max-width: 768px) {
    .mainCont {
        width: 75vw;
    }

    .movieListCont {
        grid-template-columns: auto auto;
        gap: 2vw 5vw;
    }
}
@media screen and (max-width: 600px) {
    .mainCont {
        width: 98vw;
    }
    .movieListCont {
        grid-template-columns: auto auto;
        gap: 2vw 2vw;
    }
}

.listItem {
    border: 2px solid;
    border-radius: 10px;
    padding: 7px 5px;
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: content-box;
    width: 210px;
}

.listItem .imgCont {
    width: 100%;
    min-height: 300px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
    border-bottom: 2px solid;
}
@media screen and (max-width: 600px) {
    .listItem {
        width: 168px;
    }
    .listItem .imgCont {
        min-height: 242px;
    }
}

.listItem .imgCont img {
    width: 100%;
}

.listItem .movieTitleCont {
    height: 3rem;
    margin-left: 1rem;
    line-height: 1.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.listItem .movieTitleCont .movieGenre {
    color: rgba(var(--foreground-rgb), 0.6);
}

.listItem .movieTitleCont .movieTitle {
    font-weight: bolder;
}
